<launch>
  <arg name="pts_file" default="$(find nav_points)/config/ccb2_pts.yaml"/>
  <node name="nav_points" type="nav_points" pkg="nav_points">
    <rosparam command="load" file="$(arg pts_file)"/>
  </node>
  <node name="cant_stop_wont_stop" type="cant_stop_wont_stop" pkg="nav_points" output="screen">
    <remap from="/move_base/status" to="/move_base_navi/status"/>
  </node>
</launch>
